body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f5f5;
  color: #333;
}

header {
  background: #101820;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.hero, .contact-form {
  padding: 4rem 2rem;
  text-align: center;
  background: linear-gradient(to right, #507cce, #0a1f38);
  color: white;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #101820;
  color: #fff;
}


.contact-form input,
.contact-form textarea,
.contact-form button {
  display: block;
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

